@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

body {
   
    background-image: url("../assets/starlight.png");
    font-family: 'Cutive Mono';
   
   
}

.content {
    padding: 20px;
    color : #fff;
    text-align: center;
    


}

.subsection-holder{
    padding:20px ;
    color: #fff;
    background-color: #000;
    text-align: center;
    border: 1px solid #5f7c6a;
    box-shadow: 1px solid #000;
}

.about{

    padding:30px;
    background-color: #000;
    text-align: left;
   
}

.sub{
    border: 1px solid #5f7c6a;
    display: inline-flex;
    padding:30px;
    background-color: #000;
    margin: 10px;
}