@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

body {
   
   
    font-family: 'Cutive Mono';
    background-color: #d4ccccbf;
   
   
}




 h1 {
    text-align: center;
    text-decoration:solid;
    font-family: "Roboto", serif;
    font-weight: 7000;
    font-size: -webkit-xxx-large;
    font-style: normal;
 }
.content {
    padding: 20px;

    text-align: center;
}

.subsection-holder{
    padding:20px ;
 
    background-color: #000000bf;
    text-align: center;
    box-shadow: 1px solid #000;
}

.about{

    padding:30px;
   
    text-align: left;
   
}

.sub{
    border: 1px solid #5f7c6a;
    display: block;
    padding:30px;
    background-color: #d8a708;
    color: #000;
    
    margin: 200px;
    height:300px;
}

